<div>
    <h1>MysteryDraw</h1>
</div>

<style>
    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 96px;
        letter-spacing: 0%;
        color: white;
        text-shadow: 4px 8px 0 #97000025;
    }
</style>